body {
    font-family:'Courier New', Courier, monospace;
    animation-name:wallpaperAnimation;
    animation-iteration-count:infinite;
    animation-duration:15s;
}

@keyframes wallpaperAnimation {
    0% {background-color:rgb(241, 131, 131);}
    20% {background-color:rgb(255, 206, 115);}
    40% {background-color:rgb(156, 202, 64);}
    60% {background-color: rgb(173, 216, 230);}
    80% {background-color:rgb(182, 114, 182);}
    100% {background-color:rgb(241, 131, 131);}
}

p {
    margin:20px;
}

.container {
    width:60%;
    border:3px solid black;
    border-radius:10px;
    opacity:100%;
}